SmartCorr.egg-info

# Ambientes Virtuais (VENV)
.venv/
venv/
.env/
env/
__pycache__/
*.pyc
*.pyo

# Arquivos de Dados e Modelos Pesados (Evitar GitHub Limits / Privacidade)
*.csv
*.pkl
*.pdf
models/*.joblib
metrics/*.json

# Estruturas Intermedias e Output Visual de Treino / Homologação
reports/
tests/
scripts/

# Variáveis Sensiveis e IDEs
credencial.py
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log

# MLflow
mlruns/

# Project
.env
ajustes/
notebooks/
.trae/

# Imagens
*.jpg
*.png
*.jpeg
*.svg

