# --- Core Analítico e Manipulação ---
pandas
numpy

# --- Banco de Dados e Conectores ---
pyodbc

# --- Utilitários e Arquivos ---
PyYAML
joblib

# --- Machine Learning e Sci-kit ---
scikit-learn
xgboost

# --- Explicabilidade (XAI) do Modelo ---
shap

# --- Processamento Matemático Subjacente (Opcionais Recomendados) ---
scipy
numba